
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_LayoutQuiz.cshtml";
}


<div id='intros' class="container">
    @for (int i = 0; i < ViewBag.Tabela.Count; i++)
    {
        if (ViewBag.Tabela[i].Id % 2 != 0)
        {
            <section class='a row'>
                <div class="col quiz">
                    <p class="pergunta">@ViewBag.Tabela[i].Pergunta</p>
                    <ul>
                        <li><input type="radio" name="opcao_@i" id="selA_@i"><label for="selA_@i" id="opcaoA_@i">@ViewBag.Tabela[i].OpcaoA</label></li>
                        <li><input type="radio" name="opcao_@i" id="selB_@i"><label id="opcaoB_@i" for="selB_@i">@ViewBag.Tabela[i].OpcaoB</label></li>
                        <li><input type="radio" name="opcao_@i" id="selC_@i"><label id="opcaoC_@i" for="selC_@i">@ViewBag.Tabela[i].OpcaoC</label></li>
                        <li><input type="radio" name="opcao_@i" id="selD_@i"><label id="opcaoD_@i" for="selD_@i">@ViewBag.Tabela[i].OpcaoD</label></li>

                        @if (ViewBag.Tabela[i].OpcaoE != null) { 
                            <li><input type="radio" name="opcao_@i" id="selE_@i"><label for="selE_@i" id="opcaoE_@i">@ViewBag.Tabela[i].OpcaoE</label></li>
}
                    </ul>
                </div>
            </section>
        }
        else
        {
            <section class='b row'>
                <div class="col quiz">
                    <p class="pergunta">@ViewBag.Tabela[i].Pergunta</p>
                    <input type="radio" name="opcao_@i" id="selA_@i"><label for="selA_@i" id="opcaoA_@i">@ViewBag.Tabela[i].OpcaoA</label>
                    <input type="radio" name="opcao_@i" id="selB_@i"><label id="opcaoB_@i" for="selB_@i">@ViewBag.Tabela[i].OpcaoB</label>
                    <input type="radio" name="opcao_@i" id="selC_@i"><label id="opcaoC_@i" for="selC_@i">@ViewBag.Tabela[i].OpcaoC</label>
                    <input type="radio" name="opcao_@i" id="selD_@i"><label id="opcaoD_@i" for="selD_@i">@ViewBag.Tabela[i].OpcaoD</label>

                    @if (ViewBag.Tabela[i].OpcaoE != null)
    {
                <input type="radio" name="opcao_@i" id="selE_@i"><label for="selE_@i" id="opcaoE_@i">@ViewBag.Tabela[i].OpcaoE</label>
}

                </div>
            </section>
        }
    }

    <input type="button" value="Enviar Respostas" id="conferirRespostas" data-respostas="@ViewBag.Respostas" >

</div>

