
@{
    ViewBag.Title = "Fórum";
    Layout = "~/Views/Shared/_LayoutForum.cshtml";
    ViewBag.PalavraChave = Session["palavraChave"];
}
<link rel="stylesheet" type="text/css" href="~/Content/ForumIndex.css" />
<article id="corpo" class="container">
    <div class="row">

        <div class="col col-3" id="divUsuario">
            @if (Session["emailUsuario"] != null)
            {
                <img id="imagemUsuario" src="@Session["imgPerfil"]" />
                <h2>@Session["nomeUsuario"]</h2>
            }
            else
            {
                <img id="imagemAnonimo" src="~/img/anonimo.png">
            }
            <button class="btn" id="criarPergunta">Perguntar</button>
        </div>
        <div class="col col-3" id="listaTemas">
            <form action="/ForumDiscussex/BuscarTemas">
                <div class="campoTexto">
                    <label for="input">Buscar Palavra-Chave</label>
                    <select name="busca">
                        @{string[] vetor = new string[ViewBag.Listaperguntas.Count];
                            int a = 0;
                            foreach (var pergunta in ViewBag.ListaPerguntas)
                            {
                                if (Array.IndexOf(vetor, pergunta.PalavraChave) < 0)
                                {
                                    <option>@pergunta.PalavraChave</option>
                                }
                                vetor[a] = pergunta.PalavraChave;
                                a++;
                            }
                        }
                    </select>
                </div>
                <input type="submit" class="btn" value="Buscar">

                @if (ViewBag.PalavraChave != null)
                {
                    foreach (var pergunta in ViewBag.PalavraChave)
                    {
                        <h1><a>@pergunta.Titulo</a></h1>
                        <h2>@pergunta.Descricao</h2>
                    }
                }

            </form>
        </div>
        <div class="col col-3" id="maisAcessados">
            <h2>Mais acessados</h2>
            <ul>
                @for (int i = 0; i < ViewBag.ListaPerguntas.Count && i < 10; i++)
                {
                    <li>
                        <a>@ViewBag.ListaPerguntas[i].Titulo</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</article>

<script>
    $(document).ready(() => {
        $("#criarPergunta").click(() => {
            window.location.href = "/ForumDiscussex/Perguntar";
        });
    });
</script>
