
@{
    ViewBag.Title = "Respostas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/fundoForum.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/forumRespostas.css" />
<link type="text/css" rel="stylesheet" href="~/Content/ForumResponder.css" />
<article id="corpo" class="container" data-qtdLinhas="@ViewBag.ListaRespostas.Count">
    <div class="row a" id="pergunta">
        <div class="row">
            <div class="col col-2">
                @if (ViewBag.UsuarioPerguntador != null)
                {
                    if (ViewBag.UsuarioPerguntador.ImgPerfil == "img/UsuarioPadrao.png")
                    {
                        <img class="imagemUsuario" src="/@ViewBag.UsuarioPerguntador.ImgPerfil" />
                    }
                    else
                    {
                        <img class="imagemUsuario logado" src="/@ViewBag.UsuarioPerguntador.ImgPerfil" />
                    }
                    <h1 class="nomeResposta">@ViewBag.UsuarioPerguntador.NomeUsuario</h1>
                }
                else
                {
                    <img class="imagemUsuario" src="~/img/anonimo.png" />
                    <h1 class="nomeResposta">Anônimo</h1>
                }

            </div>
            <div class="col col-2">
                <h1 class="tituloPergunta">@ViewBag.Pergunta.Titulo</h1>
                <h3 class="descricaoPergunta">@ViewBag.Pergunta.Descricao</h3>
            </div>
        </div>
        <div class="row col">
            @if (Session["emailUsuario"] != null)
            {
                <form action="/ForumDiscussex/Responder/@ViewBag.Pergunta.Id">
                    <input type="submit" class="btn" value="Responder Pergunta" />
                </form>
            }
        </div>

    </div>
    @if (ViewBag.ListaRespostas.Count != 0)
    {
        int i = 0;
        foreach (var resposta in ViewBag.ListaRespostas)
        {
            if (i % 2 == 0)
            {
                <div class="row a resposta">
                    <div class="col col-2">
                        <h3 class="descricaoPergunta">@resposta.Resposta</h3>
                    </div>
                    <div class="col col-2">
                        @if (ViewBag.ListaRespondedor[i].ImgPerfil == "img/UsuarioPadrao.png")
                        {
                            <img class="imagemUsuario" src="/@ViewBag.ListaRespondedor[i].ImgPerfil" />
                        }
                        else
                        {
                            <img class="imagemUsuario logado" src="/@ViewBag.ListaRespondedor[i].ImgPerfil" />
                        }
                        <h1>@ViewBag.ListaRespondedor[i].NomeUsuario</h1>
                    </div>
                </div>
                i++;
            }
            else
            {
                <div class="row b resposta">
                    <div class="col col-2">
                        @if (ViewBag.ListaRespondedor[i].ImgPerfil == "img/UsuarioPadrao.png")
                        {
                            <img class="imagemUsuario" src="/@ViewBag.ListaRespondedor[i].ImgPerfil" />
                        }
                        else
                        {
                            <img class="imagemUsuario logado" src="/@ViewBag.ListaRespondedor[i].ImgPerfil" />
                        }
                        <h1>@ViewBag.ListaRespondedor[i].NomeUsuario</h1>
                    </div>
                    <div class="col col-2">
                        <h3 class="descricaoPergunta">@resposta.Resposta</h3>
                    </div>
                </div>
                i++;
            }
        }
    }
    else
    {
        <div class="row">
            <div class="col col-2"><h1 class="semResposta"> Não existem respostas para essa pergunta ainda</h1></div>
            <div class="col col-2"> <img src="~/img/guaxinimPreocupado.png" /></div>
        </div>
    }
</article>
